/* SpotDetails.css */

.spot-details-container {
    display: grid;
    gap: 3rem;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    transition: padding 0.5s ease-in-out, width 0.5s ease-in-out;
}

.spot-title-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    color: black;
}

.spot-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.spot-location {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.spot-images {
    display: flex;
    margin-bottom: 10px;
}

.main-image {
    height: 6rem; /* Temporary  */
    margin-right: 1rem;
}

.thumbnail {
    height: 150px; /* Temporary */
}

.main-image, .thumbnail {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: none;
    transition: 0.3s ease;
    background-color: #e0e0e0; /* Temporary */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 4px;
        z-index: 1;
    }

    /*&:hover {
        transform: none;
        box-shadow: none;

        &::before {
            opacity: 1;
        }
    }*/
}

.thumbnail-images {
    width: 33%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.spot-description-reserve-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.spot-host-description {
    font-size: 18px;
    width: 75%;
    margin-right: 1rem;
}

.hosted-by {
    margin-bottom: 10px;
    color: black;
    font-size: 1.55em;
}

.description {
    width: 80%;
    text-align: left;
    color: black;
    font-size: 1em;
}

.callout-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transition: padding 0.5s ease-in-out, width 0.5s ease-in-out;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
    transition: font-size 0.5s ease-in-out;
}


.spot-rating-spot-id-page {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: font-size 0.5s ease-in-out;
}

@media (max-width: 950px) {
    .callout-box .price {
        font-size: 18px;
    }

    .callout-box .spot-rating-spot-id-page {
        font-size: 18px;
    }
}

@media (max-width: 850px) {
    .callout-box .price {
        font-size: 16px;
    }

    .callout-box .spot-rating-spot-id-page {
        font-size: 16px;
    }
}

@media (max-width: 770px) {
    .callout-box .price {
        font-size: 14px;
    }

    .callout-box .spot-rating-spot-id-page {
        font-size: 14px;
    }
}

@media (max-width: 770px) {
    .callout-box .price {
        font-size: 12px;
    }

    .callout-box .spot-rating-spot-id-page {
        font-size: 12px;
    }
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.reserve-button {
    padding: 10px 20px;
    width: 95%;
    margin-bottom: 10px;
    background-color: #FF5A5F;
    color: white;
    border: 2px black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #FF5A5F;
}
