.user-spot-tile-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 3rem;
    padding: 60px;
    border-radius: 8px;
}

/* Adjust to 3 columns when screen width is between 900px and 1200px */
@media (max-width: 1200px) and (min-width: 901px) {
    .user-spot-tile-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Adjust to 2 columns when screen width is between 600px and 900px */
@media (max-width: 900px) {
    .user-spot-tile-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Adjustments for very small screens */
@media (max-width: 600px) {
    .user-spot-tile-list {
        grid-template-columns: 1fr; /* This will be 1 column */
        gap: 10px;
        padding: 10px;
    }
}

.user-spot-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.user-spot-tile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.479);
    }
}

.user-spot-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.25em;
    font-size: 16px;
}

@media (max-width: 1400px) {
    .user-spot-details {
        font-size: 15px;
    }
}

@media (max-width: 1300px) {
    .user-spot-details {
        font-size: 14px;
    }
}

.user-spot-location {
    font-weight: 600;
    color: #000000;
    text-align: left;
    flex: 2;
}

.user-spot-price {
    font-weight: 600;
    color: #000000;
    transition: color 0.3s;
    text-align: left;
    flex: 1;
    margin-top: .5em;
}

.user-spot-rating {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 500;
    position: absolute;
    bottom: 1.75em;
    right: 10px;
    font-size: 1.25rem;
}

@media (max-width: 1400px) {
    .user-spot-rating {
        font-size: 1rem;
    }
}

.user-tooltip {
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
    opacity: 0;
    transition: opacity 0.2s, top 0.1s, left 0.1s;
    pointer-events: none;
    z-index: 100;
    white-space: nowrap;
}

.user-spot-tile:hover .user-tooltip {
    opacity: 1;
}

.update-spot, .delete-spot {
    font-size: .8em;
    border: 3px solid black;
    background-color: rgb(104, 104, 104);
    color: white;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 1em;
    margin-left: 1em;
    transition: transform 0.1s;
  }

  .update-spot:hover, .delete-spot:hover {
    border: 3px solid black !important;
    background-color: rgb(104, 104, 104) !important;
    box-shadow: 3px 3px 0px black;
    transform: scale(1.05);
  }
